*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}
html,body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #dde1e7;
}

.container{
	background-color: #DDE1E7;
	padding: 25px;
	border-radius: 3px;
	box-shadow: -3px -3px 7px #ffffff73,
	3px 3px 5px rgba(94,104,121,0.288)
}
.container .pagination{
	display: flex;
	list-style: none;
}
.container .pagination li{
	flex: 1;
	margin: 0 5px;
	border-radius: 3px;
	box-shadow: -3px -3px 7px #ffffff73,
	3px 3px 5px rgba(94,104,121,0.288);
	background: #DDE1E7;	
}
.container .pagination li.active{
	box-shadow: inset -3px -3px 7px #ffffff73,
	inset 3px 3px 5px rgba(94,104,121,0.288);
}
.container .pagination li a{
	display: block;
	font-size: 18px;
	text-decoration: none;
	color: #4d3252;
	height: 45px;
	width: 55px;
	line-height: 45px;
	text-align: center;
}
.container .pagination li.active a{
	font-size: 17px;
	color: #6f6cde;
}
.container .pagination li:first-child a{
	width: 120px;
}
.container .pagination li:last-child a{
	width: 100px;
}
.container .pagination li:first-child{
	margin-right: 15px;
}
.container .pagination li:last-child{
	margin-left: 15px;
}